/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%;
  /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
  /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0;
  /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -moz-appearance: textfield;
       appearance: textfield;
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.42px;
  color: #212121;
  background-color: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  /* padding: 0; */
  clip: rect(0 0 0 0);
  /* overflow: hidden; */
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* header */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__block {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .page-header__block {
    height: 80px;
    padding-top: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__block {
    padding-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

@media screen and (max-width: 767.5px) {
  .mobile-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 48px 40px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100vw;
    height: 100vh;
    background-color: #fff;
  }
  .mobile-menu.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .contacts {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
    margin-bottom: 64px;
  }
  .contact__link.contact__link--tel {
    font-size: 34px;
    color: #2196f3;
  }
  .mobile-soc-list {
    display: none;
  }
  .mobile-menu.is-open .mobile-soc-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  .mobile-soc__item + .mobile-soc__item {
    position: relative;
  }
  .mobile-soc__item + .mobile-soc__item::before {
    position: absolute;
    left: -5px;
    top: 0;
    content: "";
    display: block;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
  }
  .mobile-soc__item .mobile-soc__link {
    color: #2196f3;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.36px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-soc-list {
    display: none;
  }
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.72px;
  font-size: 24px;
  line-height: 1.1666666667;
  color: #000;
}
@media screen and (min-width: 1200px) {
  .logo {
    letter-spacing: 0.78px;
    font-size: 26px;
    line-height: 1.15;
  }
}
.logo__span {
  color: #2196f3;
}

.menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  letter-spacing: 0.8px;
  font-size: 40px;
  line-height: 1.15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__link {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:focus, .menu__link:hover {
  color: #2196f3;
}
.menu__link--active {
  color: #2196f3;
}

.menu__item {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    letter-spacing: 0.28px;
    font-size: 14px;
    line-height: 1.15;
  }
  .menu__item {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .menu__link--active {
    position: relative;
  }
  .menu__link--active::after {
    position: absolute;
    left: 0;
    bottom: -29px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}
.toggle {
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open ~ .toggle {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
}
.toggle:hover, .toggle:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .toggle {
    display: none;
  }
}

.toggle__icon-close {
  display: none;
}

.mobile-menu.is-open ~ .toggle .toggle__icon-close {
  display: block;
}

.mobile-menu.is-open ~ .toggle .toggle__icon-menu {
  display: none;
}

.mobile-menu.is-open .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* header contacts */
@media screen and (min-width: 768px) {
  .contacts {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact__item {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .contact__item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contact__link {
  letter-spacing: 0.48px;
  font-size: 24px;
  line-height: 1.15;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
}
.contact__link:focus, .contact__link:hover {
  color: #2196f3;
}

.contact__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 8px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

/* sections */
.section {
  padding: 60px 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section__title {
  margin-bottom: 30px;
  letter-spacing: 0.84px;
  font-size: 28px;
  line-height: 1.15;
  color: getCcolor("primary");
}
.section__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}
.section__text {
  color: #757575;
}

.hero {
  padding: 118px 0;
  text-align: center;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../img/hero/hero-480.jpg") 1x, url("../img/hero/hero-480@2x.jpg") 2x);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../img/hero/hero-480.jpg") 1x, url("../img/hero/hero-480@2x.jpg") 2x);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../img/hero/hero-480.jpg") 1x, url("../img/hero/hero-480@2x.jpg") 2x);
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../img/hero/hero-768.jpg") 1x, url("../img/hero/hero-768@2x.jpg") 2x);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../img/hero/hero-768.jpg") 1x, url("../img/hero/hero-768@2x.jpg") 2x);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../img/hero/hero-768.jpg") 1x, url("../img/hero/hero-768@2x.jpg") 2x);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .hero {
    background-size: 1600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../img/hero/hero-1600.jpg") 1x, url("../img/hero/hero-1600@2x.jpg") 2x);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../img/hero/hero-1600.jpg") 1x, url("../img/hero/hero-1600@2x.jpg") 2x);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../img/hero/hero-1600.jpg") 1x, url("../img/hero/hero-1600@2x.jpg") 2x);
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding: 0 80px;
    margin-bottom: 30px;
    font-weight: 900;
    letter-spacing: 1.56px;
    font-size: 26px;
    line-height: 1.6153846154;
    text-transform: uppercase;
    color: #fff;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .hero__title {
    padding: 0 220px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .hero__title {
    letter-spacing: 2.64px;
    font-size: 44px;
    line-height: 1.3636363636;
    padding: 0 340px;
  }
}

/* specifics section */
.specifics {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.specifics__item {
  -ms-flex-preferred-size: calc((100% - 0px) / 1);
      flex-basis: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .specifics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    text-align: left;
  }
  .specifics__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .specifics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    text-align: left;
  }
  .specifics__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.specific__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section__text--specific {
  text-align: left;
}

/* deal section */
.section--view {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--view {
    display: block;
  }
}

.deals {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.deals__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.deals__item {
  position: relative;
  bottom: 0;
}

.deal__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: #fff;
  text-align: center;
  line-height: 1.15;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

/* team section */
.team {
  background-color: #f5f4f4;
}
.team__description {
  padding: 30px 5px 16px;
}
.team__subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.team-mates {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.team-mates__item {
  -ms-flex-preferred-size: calc((100% - 0px) / 1);
      flex-basis: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .team-mates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .team-mates__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-mates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .team-mates__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.team-mates__item {
  padding-bottom: 30px;
  letter-spacing: 0.48px;
  font-size: 16px;
  line-height: 1.15;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/*  clients  */
.clients {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.clients .clients__item {
  height: 92px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.client__icon {
  width: 106px;
  height: 60px;
}

.soc-icons {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.soc-icons__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}
.soc-icons__icon {
  width: 20px;
  height: 20px;
}

.soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

/* button  */
.button {
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  letter-spacing: 0.96px;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.btn-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 8px;
  padding-right: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn {
  cursor: pointer;
  padding: 6px 22px;
  font-weight: 500;
  letter-spacing: 0.48px;
  font-size: 16px;
  line-height: 1.625;
  border: none;
  border-radius: 4px;
  color: #212121;
  background: #f5f4f4;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.8), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.8), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #2196f3;
}

.cards {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.cards__item {
  -ms-flex-preferred-size: calc((100% - 0px) / 1);
      flex-basis: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .cards__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .cards__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #eee;
  color: inherit;
  background: #fff;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.img-wrapper {
  position: relative;
  bottom: 0;
  overflow: hidden;
}

.img-overlay {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .img-overlay {
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .img-overlay {
    padding: 63px 24px;
  }
}
.card__link:hover .img-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.img-overlay__text {
  color: #fff;
  letter-spacing: 0.54px;
  font-size: 18px;
  line-height: 1.5555555556;
}

.card__description {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background: #fff;
  padding: 20px 24px;
}

.card__title {
  letter-spacing: 1.08px;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.card__text {
  color: #757575;
  letter-spacing: 0.48px;
  font-size: 16px;
  line-height: 1.875;
}

/* footer */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__logo, .soc-part__title, .form-part__title {
  color: #fff;
  margin-bottom: 20px;
}

.aligned-text {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .aligned-text {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__address-part {
    margin-right: 22.3577235772%;
    padding-left: 61px;
  }
  .footer__form-part {
    padding-left: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address-part {
    margin-right: 70px;
    padding-left: 0;
  }
  .footer-soc-part {
    margin-right: 93px;
  }
}
/* Footer address part */
.address-part {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address-part {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .address-part {
    margin-bottom: 0;
  }
}

.address-part__text {
  margin-bottom: 8px;
  color: #fff;
}

.addresses {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-style: normal;
}

.address__item {
  margin-bottom: 8px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .address-part__text,
  .address__item {
    margin-bottom: 9px;
  }
}
/* Footer soc part */
.soc-part {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .soc-part {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .soc-part {
    margin-bottom: 0;
  }
}

.soc-part__title, .form-part__title {
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* Footer form part */
@media screen and (min-width: 768px) {
  .form-part {
    margin-bottom: 60px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .form-part {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .form-part {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .form-part {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 60px;
    width: calc(100% - 600px);
  }
}
@media screen and (min-width: 1200px) and (min-width: 768px) {
  .form-part {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .form-part {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .sign-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sign__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  letter-spacing: 0.48px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .sign__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sign__input {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.sign__button {
  display: block;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button__icon {
  margin-left: 10px;
}

/* overlay */
.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.overlay.is-hidden {
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  pointer-events: none;
}

.modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  max-width: 450px;
  height: 609px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px 40px 50px 40px;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}
.overlay.is-hidden .modal {
  -webkit-transform: translate(-277%, -97%) scale(0.01) rotateZ(-0.25turn);
          transform: translate(-277%, -97%) scale(0.01) rotateZ(-0.25turn);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 50%;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .close-button {
    top: 14px;
    right: 14px;
  }
}
.close-button:hover, .close-button:focus {
  border-color: accent-color;
  outline: none;
  -webkit-transform: scale(1.2) rotate(0.75turn);
          transform: scale(1.2) rotate(0.75turn);
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:focus .icon-close, .close-button:hover .icon-close {
  fill: #2196f3;
}

.modal__title {
  display: block;
  text-align: center;
  letter-spacing: 0.6px;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    letter-spacing: 0.6px;
  }
}

.order__form-field,
.order__field-consent,
.order__field-comment {
  position: relative;
  display: block;
}

.order__form-field {
  margin-bottom: 28px;
}

.order__field-comment {
  height: 120px;
  margin-bottom: 20px;
}

.order__label {
  position: absolute;
  left: 0;
  bottom: calc(100% + 4px);
  letter-spacing: 0.12px;
  font-size: 12px;
  line-height: 1.15;
}

.order__input {
  padding-left: 42px;
  margin: 0;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.order__comment {
  min-height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  letter-spacing: 0.14px;
  font-size: 14px;
  line-height: 1.15;
  color: rgba(117, 117, 117, 0.5);
  text-align: left;
}

.order__form-field:hover > .order__input,
.order__field-comment:hover > .order__comment,
.order__field-comment:focus-within > .order__comment,
.order__form-field:focus-within > .order__input {
  outline: none;
  border-color: #2196f3;
}

.order__form-field:hover > .order__label,
.order__form-field:focus-within > .order__label,
.order__field-comment:hover > .order__label,
.order__field-comment:focus-within > .order__label {
  color: #2196f3;
}

.order__form-field:hover > .order__icon,
.order__form-field:focus-within > .order__icon {
  fill: #2196f3;
}

.order__icon,
.order__consent-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
}

.order__consent-icon {
  left: 0;
}

.order__field-consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 24px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .order__field-consent {
    margin-bottom: 31px;
  }
}
@media screen and (min-width: 1200px) {
  .order__field-consent {
    margin-bottom: 30px;
  }
}

.order__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.order__consent-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px #212121 solid;
  border-radius: 3px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order__checkbox:checked + .order__consent-icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.order__consent-text {
  letter-spacing: 0.36px;
  font-size: 12px;
  line-height: 1.15;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .order__consent-text {
    letter-spacing: 0.42px;
    font-size: 14px;
    line-height: 1.15;
  }
}

.order__link {
  color: #2196f3;
  font-family: Roboto;
  text-decoration: underline;
}

.btn-28px, .btn-20px, .btn-16px, .box {
  text-transform: uppercase;
  color: #2f303a;
}

.main-box {
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 300px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #fff;
  background: #2196f3;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -50px;
}

.btn-16px {
  padding: 4px 28px;
  font-size: 16px;
}

.btn-20px {
  padding: 5px 35px;
  font-size: 20px;
}

.btn-28px {
  padding: 7px 49px;
  font-size: 28px;
}

.btn:nth-child(3) {
  background-color: #78f3de;
  margin: 0 18px;
}

.main-box-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  width: 300px;
  height: 100px;
  background-color: #f23c3c;
}

.btn-a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  height: 24px;
  width: 100%;
  border-color: transparent;
}/*# sourceMappingURL=main.css.map */