/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%;
  /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
  /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0;
  /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.42px;
  color: #212121;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  /* padding: 0; */
  clip: rect(0 0 0 0);
  /* overflow: hidden; */
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

/* header */
.page-header {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
}
.page-header__block {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/*header site-nav */
.site-nav {
  display: flex;
  align-items: baseline;
}
.site-nav__logo {
  margin-right: 93px;
}

.logo {
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.78px;
}
.logo__span {
  color: #2196f3;
}

.menu {
  display: flex;
  column-gap: 50px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.menu__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:focus, .menu__link:hover {
  color: #2196f3;
}

.menu__link--active {
  position: relative;
  color: #2196f3;
}
.menu__link--active::after {
  position: absolute;
  left: 0;
  bottom: -29px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

/* header contacts */
.contacts {
  display: flex;
  column-gap: 30px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.contacts__link {
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:focus, .contacts__link:hover {
  color: #2196f3;
}

.contacts__icon {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
}

/* sections */
.section {
  padding: 94px 0;
  text-align: center;
}
.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 1.08px;
  color: getCcolor("primary");
}
.section__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}
.section__text {
  color: #757575;
}

.hero {
  padding: 200px;
  text-align: center;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero.jpg");
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  color: #ffffff;
}

/* specifics section */
.specifics {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: left;
  display: flex;
  gap: 30px;
}
.specifics__item {
  flex-basis: calc((100% - 90px) / 4);
}

.specific__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* deal section */
.deals {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 30px;
}
.deals__item {
  flex-basis: calc((100% - 60px) / 3);
}

.deals__item {
  position: relative;
  bottom: 0;
}

.deal__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: #ffffff;
  text-align: center;
  line-height: 1.15;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

/* team section */
.team {
  background-color: #f5f4f4;
}
.team__description {
  padding: 30px 15px 16px;
}
.team__subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.team-mates {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 30px;
}
.team-mates__item {
  flex-basis: calc((100% - 90px) / 4);
}
.team-mates__item {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.48;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/*  clients  */
.clients {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 30px;
}
.clients__item {
  flex-basis: calc((100% - 150px) / 6);
}
.clients .clients__item {
  height: 92px;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.client__icon {
  width: 106px;
  height: 60px;
}

.soc-icons {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.soc-icons__item {
  flex-basis: calc((100% - 90px) / 4);
}
.soc-icons__icon {
  width: 20px;
  height: 20px;
}

.soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

/* button  */
.button {
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.96px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

/* Portfolio  section*/
.portfolio {
  padding: 94px 0;
}

.btn-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.card-list {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.btn {
  cursor: pointer;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: none;
  border-radius: 4px;
  color: #212121;
  background: #f5f4f4;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.8), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #2196f3;
}

.card {
  flex-basis: calc((100% - 60px) / 3);
}
.card__link {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  color: inherit;
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.img-wrapper {
  position: relative;
  bottom: 0;
  overflow: hidden;
}

.img-overlay {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
}
.card__link:hover .img-overlay {
  transform: translateY(0);
}

.img-overlay__text {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
}

.card__description {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background: #ffffff;
  padding: 20px 24px;
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.card__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

/* footer */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__address-part {
  margin-right: 70px;
}

.footer__logo, .soc-part__title, .form-part__title {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-part {
  margin-right: 93px;
}

/* Footer address part */
.address-part {
  display: inline-flex;
  flex-direction: column;
}

.address-part__text {
  margin-bottom: 6px;
  color: #ffffff;
}

.addresses {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-style: normal;
}

.address__item {
  margin-bottom: 6px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

/* Footer soc part */
.soc-part {
  display: inline-flex;
  flex-direction: column;
}

.soc-part__title, .form-part__title {
  font-weight: 700;
  line-height: 1.15;
  text-align: left;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* Footer form part */
.form-part {
  display: inline-flex;
  flex-direction: column;
  width: calc(100% - 600px);
}

.sign-form {
  display: flex;
}

.sign__label {
  display: flex;
  flex-grow: 1;
}

.sign__input {
  width: 100%;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.sign__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon {
  margin-left: 10px;
}

/* overlay */
.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.overlay.is-hidden {
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
}

.modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  text-align: center;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay.is-hidden .modal {
  transform: translate(-277%, -97%) scale(0.01) rotateZ(-0.25turn);
}

.close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  cursor: pointer;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 50%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus {
  border-color: accent-color;
  outline: none;
  transform: scale(1.2) rotate(0.75turn);
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:focus .icon-close, .close-button:hover .icon-close {
  fill: #2196f3;
}

.modal__title {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

.order__form-field,
.order__field-consent {
  position: relative;
  display: block;
}

.order__form-field {
  margin-bottom: 28px;
}

.order__label {
  position: absolute;
  left: 0;
  bottom: 102%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.order__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.order__comment {
  min-height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.order__form-field:hover > .order__input,
.order__form-field:hover > .order__comment,
.order__form-field:focus-within > .order__comment,
.order__form-field:focus-within > .order__input {
  outline: none;
  border-color: #2196f3;
}

.order__form-field:hover > .order__label,
.order__form-field:focus-within > .order__label {
  color: #2196f3;
}

.order__form-field:hover > .order__icon,
.order__form-field:focus-within > .order__icon {
  fill: #2196f3;
}

.order__icon,
.order__consent-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
}

.order__field-consent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 36px;
  margin-bottom: 30px;
}

.order__checkbox {
  appearance: none;
}

.order__consent-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px #212121 solid;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order__checkbox:checked + .order__consent-icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.order__consent-text {
  color: #757575;
}

.order__link {
  color: #2196f3;
  font-family: Roboto;
  text-decoration: underline;
}

.btn-28px, .btn-20px, .btn-16px, .box {
  text-transform: uppercase;
  color: #2f303a;
}

.main-box {
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 400px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  background: #2196f3;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -50px;
}

.btn-16px {
  padding: 4px 28px;
  font-size: 16px;
}

.btn-20px {
  padding: 5px 35px;
  font-size: 20px;
}

.btn-28px {
  padding: 7px 49px;
  font-size: 28px;
}

.btn {
  border-radius: 5px;
}
.btn:nth-child(3) {
  background-color: #78f3de;
  margin: 0 18px;
}

.main-box-a {
  display: flex;
  align-items: center;
  margin: auto;
  column-gap: 5px;
  width: 400px;
  height: 100px;
  background-color: #f23c3c;
}

.btn-a {
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 24px;
  width: 100%;
  border-color: transparent;
}/*# sourceMappingURL=main.css.map */