/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:root {
  --accent-color: #2196f3;
  --primary-color: #212121;
  --primary-background-color: #ffffff;
  --secondary-color: #757575;
  --secondary-background-color: #f5f4f4;
  --dark-theme-bg-color: #2f303a;
  --primary-light-color: #ffffff;

  --prime-gap: 30px;
}

body {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.42px;

  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

/* header   logo */

.page-header {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
}

.header-block {
  display: flex;
  align-items: baseline;
}

.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logo span {
  color: #2196f3;
}

.site-nav .logo {
  margin-right: 93px;
}

/*header site-nav */

.site-nav {
  display: flex;
  align-items: baseline;
  margin-right: auto;
}

.site-nav-list {
  display: flex;
  column-gap: 50px;
}

.site-nav-link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  position: relative;
  color: var(--accent-color);
}

.active::after {
  position: absolute;
  left: 0;
  bottom: -29px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav-link:focus,
.site-nav-link:hover {
  color: var(--accent-color);
}

/* header contacts */

.contacts {
  display: flex;
  column-gap: var(--prime-gap);
}

.contact-link {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:focus,
.contact-link:hover {
  color: var(--accent-color);
}

.contacts svg {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
}

/* hero */

.hero {
  padding: 200px;
  text-align: center;

  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url("../img/hero.jpg");
}

.hero-title {
  margin-bottom: var(--prime-gap);
  font-size: 44px;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-light-color);
}

/* button  */

.hero-button {
  cursor: pointer;
  min-width: 200px;
  height: 50px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: var(--primary-light-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}



/* sections */

.section {
  padding: 94px 0;
  text-align: center;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 1.08px;
  color: var(--primary-color);
}

.section-subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.section-text {
  color: var(--secondary-color);
}

/* specifics section */

.specifics-list {
  display: flex;
  text-align: left;
}

.specifics-item {
  flex-basis: calc((100% - 3 * var(--prime-gap)) / 4);
}

.specifics-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: var(--prime-gap);
}

/* deal section */

.deal-list {
  display: flex;
}

.deal-item {
  flex-basis: calc((100% - 2 * var(--prime-gap)) / 3);
}

.specifics-item+.specifics-item,
.deal-item+.deal-item,
.team-item+.team-item,
.client-item+.client-item {
  margin-left: var(--prime-gap);
}

/* team section */

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.48px;
}

.team-item {
  flex-basis: calc((100% - 3 * var(--prime-gap)) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-background-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-description {
  padding: 30px 15px 16px;
}

.team-subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.soc-icons {
  display: flex;
}

.soc-icons-frame {
  padding: 0 30px 30px 32px;
}

.soc-icons>li {
  width: 44px;
  height: 44px;
}

.soc-icons svg {
  width: 20px;
  height: 20px;
}

.soc-icons>li+li {
  margin-left: 10px;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.10);
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

/*  clients  */

.client-list {
  display: flex;
}

.client-item {
  display: flex;
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-link>svg {
  width: 106px;
  height: 60px;
}

/* Portfolio */

.portfolio {
  padding: 94px 0;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item+.button-item {
  margin-left: 8px;
}

.portfolio-button {
  cursor: pointer;
  padding: 6px 22px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 4px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: none;
  color: var(--primary-color);
  background: var(--secondary-background-color);
  transition: color250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.8), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  background-color: var(--accent-color);
}

.card-list {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}

.card-item {
  flex-basis: calc((100% - 2 * var(--prime-gap)) / 3);
}

.card-link {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card-description {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background: var(--primary-background-color);
  padding: 20px 24px;
}

.card-title {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.card-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

/* footer */

.dark-theme {
  padding: 60px 0;
  background-color: var(--dark-theme-bg-color);
}

.address-box {
  display: inline-flex;
  flex-direction: column;
  margin-right: 70px;
}

.logo.light-text,
.footer-soc-box .light-text {
  margin-bottom: 20px;
}

.address-margin-bottom {
  margin-bottom: 6px;
}

.light-text {
  color: var(--primary-light-color);
}

.address {
  font-style: normal;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-soc-box {
  display: inline-flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-light-color);
  letter-spacing: 0.42px;
  text-transform: uppercase;
}