.section-p {
    background-color: #b0b593;
}

.box-section {
    display: flex;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(90% /6);
    height: 160px;
    border-radius: 1px 77%;
}

.box:nth-child(2n) {
    border-radius: 77% 1px;
}

.box+.box {
    margin-left: 2%;
}

.thumb {
    position: relative;
    width: 44px;
    height: 44px;
    border: 1px red dotted;
    border-radius: 50%;
    background-color: #c9c9c9;
}

.thumb>img {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}


.violet {
    background-color: rgb(93, 27, 98);
}

.green {
    background-color: #81e792;
}

.red {
    background-color: rgb(224, 163, 163);
}