body {
    position: relative;
}

.contact-page-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #42e35d;
    z-index: 2;
}

.section-c {
    padding-bottom: 25px;
    text-align: center;
    font-size: 24px;
    background-color: #d7d9ce;
}

.section-c-title {
    position: sticky;
    z-index: 1;
    top: 80px;
    margin-bottom: var(--prime-gap);
    background-image: repeating-linear-gradient(-30deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px);
    text-transform: uppercase;
}



.box-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(3 * var(--prime-gap));
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 3* var(--prime-gap))/2);
    height: 260px;
    border-radius: 1px 77%;
}

.box:nth-child(2n) {
    border-radius: 77% 1px;
}


.thumb {
    position: relative;
    width: 200px;
    height: 120px;
    border: 1px #0919f7 dotted;
    border-radius: 1px 50%;
    background-color: #c9f9c9;
}

.box:nth-child(2n)>.thumb {
    border-radius: 50% 1px;
}

/* .thumb>img {
    position: absolute;
    display: block;
    width: 111px;
    height: 111px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
} */

.thumb-icon {
    position: absolute;
    display: block;
    width: 120px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    fill: rgb(34, 58, 235);
    stroke: #002;
    stroke-width: 1px;
}


.violet {
    background-color: rgb(93, 27, 98);
}

.green {
    background-color: #42e35d;
}

.red {
    background-color: rgb(211, 128, 128);
}

/* Modal-window */

.backdrop {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(206, 228, 144, .9);
    transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(.2, -3) rotate(.5turn);
    transition: transform 250ms var(--timing-function);
}

.modal-window {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    min-width: 45%;
    min-height: 45%;
    background-color: #b7b7ba;
}

.btn {
    display: block;
    cursor: pointer;
    border-radius: 5%;
    border: none;
    min-width: 220px;
    height: 50px;
    margin: 30px auto;
    background-color: #42e35d;
    color: #fefdfe;
    transition: background-color 250ms var(--timing-function);
}

.btn:hover,
.btn:focus {
    background-color: #1b0764;
}

.close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 250ms var(--timing-function), background-color 250ms var(--timing-function);
    top: 14px;
    right: 14px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}


/* Menu */

.menu {
    display: flex;
    column-gap: var(--prime-gap);
}

.menu-item {
    position: relative;
    width: 100%;
}

.menu-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #42e35d;
    color: #e8e8ef;
    transition: background-color 250ms var(--timing-function);
}

.menu-link:hover {
    background-color: #1b0764;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    transform: scaleX(0);
    background-color: #ccc;
    transition: transform 250ms var(--timing-function);
}

/* .submenu {
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
} */

.menu-item:hover .submenu {
    transform: scaleX(1);
}

.submenu a {
    display: block;
    padding: 10px;
}

.btn-c {
    position: relative;
    overflow: hidden;
    transition: background-color 250ms var(--timing-function);
}


.btn-c::before,
.btn-c::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #b9b909;
    background-size: contain;
    background-position: 0 0;
    transition: opacity 250ms var(--timing-function),
        transform 250ms var(--timing-function);
}

.btn-c::before {
    margin-right: 15px;
    vertical-align: middle;
    background-image: url(../img/img-c/airplane.svg);
}

.btn-c:hover::before {
    transform: translateY(-35px);
    opacity: 0;
}

.btn-c::after {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% + 35px));
    left: 30.2%;
    opacity: 0;
    background-image: url(../img/img-c/twitter.svg);
}

.btn-c:hover::after {
    opacity: 1;
    transform: translateY(-50%);
}

/* form */

.form {
    width: 700px;
    margin: 0 auto;
    padding: 25px;
    margin-bottom: 55px;
    background-color: #f3efef;
}

.form-field {
    position: relative;
    margin-bottom: 25px;
    display: flex;
}

.form-field>input {
    margin: 0;
    width: 100%;
    padding: 12px 12px 12px 44px;
    border: 1px #545154 solid;
    border-radius: 4px;
    font-size: 12px;
}

.form-field>input:focus+label,
.form-field>input:not(:placeholder-shown)+label {
    color: var(--accent-color);
    transform: translate(-40px, -45px);
}

.form-field>label {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    transition: transform 250ms var(--timing-function), color 250ms var(--timing-function);
    text-align: left;
    font-size: 16px;
}

.icon-span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    outline: 1px #1f1010 solid;
    fill: currentColor;
    transition: fill 250ms var(--timing-function);

}

.icon {
    width: 20px;
    height: 20px;
}

.form-field>input:focus~span {
    fill: var(--accent-color);
}

.form-field>textarea::placeholder,
.form-field>input::placeholder {
    color: #545154;
    text-align: left;
    font-size: 12px;
}

.group {
    margin-bottom: 25px;
}

.group-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
}

.topic-options,
.experience-levels {
    padding: 0;
    margin: 0;
    list-style: none;
}

.topic-options li,
.experience-levels li {
    align-items: center;
}

/* .topic-options input[type="checkbox"] {
    width: 25px;
    height: 25px;
} */

.topic-options label,
.experience-levels label {
    font-size: 14px;
    margin-left: 10px;
}

.form-field-date,
.form-field-file {
    display: flex;
    flex-direction: column;
    border: 4px #1b0764 solid;
    border-radius: 5px;
    padding: 7px;
    font-size: 14px;
    background-color: #b6b1b1;
    margin-bottom: 25px;
}

.form-field-date label,
.form-field-file label {
    text-align: left;
    width: 55%;
    padding: 0 15px;
    margin-bottom: 11px;
    color: #554b4c;
}

.form-field-date input {
    width: 55%;
    color: #554b4c;
}



.form-field-policy {
    margin-bottom: 25px;
    display: flex;
}

.form-field-policy label {
    margin-left: 11px;
    font-size: 14px;
}

.comment {
    min-height: 120px;
    min-width: 500px;
    padding: 7px;
    resize: none;
}

/* contact-form */

.contact-form {
    width: 700px;
    min-height: 500px;
    margin: 0 auto;
    padding: 25px;
    margin-bottom: 55px;
    background-color: #f3efef;
}

.contact-form label {
    display: flex;
    width: 100%;
    text-align: left;
    font-size: 11px;
}

.contact-form-input {
    width: 100%;
    height: 35px;
    font-size: 16px;
    border: 1px #777 solid;
    border-radius: 5px;
    margin-bottom: 35px;
}

.contact-form-input::placeholder {
    font-size: 12px;
    color: #1a1d1a
}

.contact-fieldset {
    margin-bottom: 33px;
    border: none;
    background-color: #fff;
}

.contact-fieldset>legend {
    font-size: 16px;
    padding-top: 35px;
}


.contact-fieldset option {
    font-size: 16px;
    line-height: 2;
}

.contact-form-field {
    display: flex;
    column-gap: 11px;
    margin-bottom: 25px;
}

.contact-form-field.policy {
    display: block;
}

.contact-form-field select {
    appearance: none;
    padding: 11px 25px;
}

.contact-form-field textarea {
    display: block;
    width: 100%;
    min-height: 120px;
    padding: 15px;
    margin-bottom: 35px;
    resize: none;
}

/* one more form */

.form-tray {
    width: 700px;
    margin: 0 auto 55px;

}


.form-field-set {
    position: relative;
    display: block;
    margin-bottom: 45px;
    font-size: 12px;
}

.form-field-set-label {
    position: absolute;
    top: 50%;
    left: 45px;
    line-height: 1.15;
    transition: transform 250ms var(--timing-function), color 250ms var(--timing-function);
    transform: translateY(-50%);
    background-color: #e4dede;
}

.form-field-set-input {
    width: 100%;
    margin: 0;
    padding: 11px 11px 11px 41px;
    border-radius: 4px;
    border: 1px #e9f0e9 solid;
}

.form-field-set:focus-within .form-field-set-label,
.form-field-set-input:not(:placeholder-shown)+.form-field-set-label {
    transform: translateY(-220%);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #dbe7dd;
}

.form-icon>svg {
    width: 18px;
    height: 18px;
}

.form-field-set:focus-within .form-icon {
    fill: var(--accent-color);
}

/* 
.form-field-set-input:hover~.form-icon,
.form-field-set-input:focus~.form-icon {
    fill: var(--accent-color);
} */