/* check-box-form */

.form {
    width: 700px;
    margin: 45px 0;
    padding: 20px;
    background-color: #fdfcf9;
    outline: #ccc 2px solid;
}

.checkbox-list {
    list-style: none;
    display: block;
    padding: 0;
    margin-bottom: 40px;
}

.checkbox-list>li:not(:last-child) {
    margin-bottom: 25px;
}

.checkbox-label {
    position: relative;
    display: block;
    padding-left: 25px;
}

.checkbox {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}

.checkbox-icon {
    display: block;
    fill: var(--primary-light-color);
}


.checkbox~.checkbox-icon>svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    display: block;
    appearance: none;
    width: 16px;
    height: 15px;
    transition: opacity 250ms var(--timing-function);
}

.checkbox:checked~.checkbox-icon>svg {
    opacity: 1;
}

/* Form a */

.form-a-field,
.form-b-field,
.form-c-field {
    position: relative;
}

.form-a-field:not(:last-child),
.form-b-field:not(:last-child),
.form-c-field:not(:last-child) {
    margin-bottom: 25px;
}

.form-a-input,
.form-b-input,
.form-c-input {
    margin: 0;
    padding: 0;
    font: inherit;
    border-radius: 5px;
    border: 1px rgb(149, 236, 224) solid;
}

.form-a-input,
.form-b-input,
.form-c-input {
    width: 100%;
    padding: 5px 5px 5px 43px;
}

.form-a-input:focus,
.form-a-input:hover {
    background-color: #e2ece8;
}

.form-a-label,
.form-b-label,
.form-c-label {
    position: absolute;
    top: 50%;
    left: 43px;
    transform: translateY(-50%);
    transition: transform 260ms var(--timing-function);
    display: block;
}

.form-a-input:focus+.form-a-label,
.form-a-input:hover+.form-a-label {
    transform: translateY(-43px);
    color: #77a47e;
}

.form-a-input:not(:placeholder-shown)+.form-a-label,
.form-a-input:not(:placeholder-shown)+.form-a-label {
    transform: translateY(-43px);
}

.icon {
    position: absolute;
    top: 50%;
    left: 5px;
    display: inline-block;
    transform: translateY(-50%);
    transition: fill 250ms var(--timing-function);
    fill: var(--primary-color)
}

.icon>svg {
    width: 32px;
    height: 32px;
}

.form-a-input:focus~.icon,
.form-a-input:hover~.icon {
    fill: var(--accent-color);
}

/* Form b */

.form-b-field:focus-within .form-b-label,
.form-c-field:focus-within .form-c-label {
    transform: translateY(-50%);
}

.form-b-field:focus-within .form-b-label,
.form-c-field:focus-within .form-c-label {
    transform: translateY(-43px);
    color: var(--accent-color);
}

.form-b-field:focus-within .icon,
.form-c-field:focus-within .icon {
    fill: var(--accent-color);
}

.form-b-input:not(:placeholder-shown)~.form-b-label,
.form-c-input:not(:placeholder-shown)~.form-c-label {
    transform: translateY(-43px);
}

/* Form-c */


.form-c-field {
    display: block;
    width: 700px;

}

/* checkbox-a-form */

.checkbox-a-list {
    list-style: none;
    padding: 0;
}

.checkbox-a-item {
    position: relative;
}

.checkbox-a-item:not(:last-child) {
    margin-bottom: 25px;
}

.checkbox-a-label {
    display: block;
    padding-left: 44px;
    outline: 1px red solid;
}

.checkbox-a-icon {
    appearance: none;
    width: 44px;
    height: 44px;
    background-color: aqua;
}

.checkbox-a-input {
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox-a-input:checked {
    appearance: none;
    width: 44px;
    height: 44px;
}

.checkbox-a-input:checked+.checkbox-a-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
}