@import "./utils/variables";
@import "./base/normalize";
@import "./utils/reset";
@import "./utils/visually-hidden";
@import "./utils/placeholders";
@import "./utils/mixins";

@import "./components/container";
@import "./components/page-header";
@import "./components/logo";
@import "./components/menu";
@import "./components/contacts";
@import "./components/section";
@import "./components/hero";
@import "./components/specifics";
@import "./components/deals";
@import "./components/team";
@import "./components/clients";
@import "./components/soc-icons";
@import "./components/button";
@import "./components/portfolio";
@import "./components/portfolio-btn";
@import "./components/card";
@import "./components/footer";
@import "./components/ftr-address-part";
@import "./components/ftr-soc-part";
@import "./components/ftr-form-part";
@import "./components/sign-form";
@import "./components/main-overlay";
@import "./components/modal";
@import "./components/order-form";


@mixin center ($width, $height) {
    position: absolute;
    width: $width;
    height: $height;
    top: 50%;
    left: 50%;
    margin-top: $height / -2;
    margin-left: $width / -2;
}

@mixin button($size) {
    padding: 0.25 * $size 1.75 * $size;
    font-size: $size;
    height: 2*$size;
}

.main-box {
    display: inline-flex;
    background-color: #da9090;
    width: 400px;
    height: 300px;
    position: relative;
}

.box {
    background: gold;
    @include center(100px, 50px);
}

%button {
    text-transform: uppercase;
}

.small-btn {
    @include button(16px);
    @extend %button
}

.middle-btn {
    @include button(20px);
    @extend %button
}

.big-btn {
    @include button(28px);
    @extend %button
}