/* header contacts */

.contacts {
    display: flex;
    column-gap: $prime-gap;
    @extend %list;

    &__link {
        display: flex;
        align-items: center;
        color: getColor('secondary');
        transition: color 250ms $timing-function;

        &:focus,
        &:hover {
            color: getColor('accent');
        }
    }
}

.contacts__icon {
    display: flex;
    margin-right: 10px;
    fill: currentColor;
}