/* header contacts */

.contacts {
    @include list();

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    @media screen and (min-width:1200px) {

        flex-direction: row;
    }
}

.contact__item:not(:last-child) {
    margin-bottom: 32px;

    @media screen and (min-width:768px) {
        margin-bottom: 10px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 0;
    }

}

.contact__link {
    @include font($fontSize: 24px);
    color: getColor('secondary');
    transition: color 250ms $timing-function;

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    &:focus,
    &:hover {
        color: getColor('accent');
    }
}

.contact__icon {
    display: none;

    @media screen and (min-width:768px) {

        display: flex;
        margin-right: 8px;
        fill: currentColor;
    }

    @media screen and (min-width:1200px) {
        margin-right: 10px;
    }
}