/* footer */

.footer {
    padding: 60px 0;
    background-color: getColor('dark');
}

.footer__address-part {
    margin-right: 70px;
}

.footer__logo {
    color: getColor('light');
    margin-bottom: $secondary-gap;
}

.footer-soc-part {
    margin-right: 93px;
}