/* footer */

.footer {
    padding: 60px 0;
    background-color: getColor('dark');
}

.footer__logo {
    color: getColor('light');
    margin-bottom: $secondary-gap;
}

.aligned-text {
    @include alignedText();

    @media screen and (min-width:1200px) {
        @include alignedText(left);
    }
}

@media screen and (min-width: 768px) {

    .footer__address-part {
        margin-right: calc(165% / 7.38);
        padding-left: 61px;
    }

    .footer__form-part {
        padding-left: 14px;
    }
}

@media screen and (min-width: 1200px) {

    .footer__address-part {
        margin-right: 70px;
        padding-left: 0;
    }

    .footer-soc-part {
        margin-right: 93px;
    }
}