/* Footer address part */

.address-part {
    @include footer-part();
}

.address-part__text {
    margin-bottom: 6px;
    color: getColor('light');
}

.addresses {
    @include list();
    font-style: normal;
}

.address__item {
    margin-bottom: 6px;
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
}