/* Footer address part */

.address-part {
    @include footer-part();
}

.address-part__text {
    margin-bottom: 8px;
    // margin-bottom: 6px;
    color: getColor('light');
}

.addresses {
    @include list();
    font-style: normal;
}

.address__item {
    margin-bottom: 8px;
    // margin-bottom: 6px;
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width:1200px) {

    .address-part__text,
    .address__item {
        margin-bottom: 9px;
    }
}