/* Footer soc part */

.soc-part {
    @include footer-part();
}

.footer__soc-icons {
    padding-left: 0;
}

.soc-part__title {
    @extend .footer__logo;
    font-weight: 700;
    line-height: 1.15;
    text-align: left;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}