.logo {
    // padding: 16px 0;
    font-family: Raleway;
    font-weight: 700;
    @include font(.72px, 24px, calc(28 / 24), );
    color: #000;

    @media screen and (min-width:1200px) {
        @include font(.78px, 26px, 1.15, );
    }

    &__span {
        color: getColor('accent');
    }
}