.menu {
    @include list();
    @include font(.8px, 40px);
    display: flex;
    flex-direction: column;

    &__link {
        color: getColor('primary');
        transition: color 250ms $timing-function;

        &:focus,
        &:hover {
            color: getColor('accent');
        }

        &--active {
            color: getColor('accent');
        }
    }
}

.menu__item {
    margin-bottom: 32px;
}

@media screen and (min-width:768px) {
    .menu {
        flex-direction: row;
        @include font(.28px, 14px);
    }

    .menu__item {
        margin-bottom: 0;
        margin-right: $prime-gap;
    }

    .menu__link--active {
        position: relative;

        &::after {
            position: absolute;
            left: 0;
            bottom: -29px;
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: getColor('accent');

        }
    }
}

.toggle {
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: fill 250ms $timing-function;

    .mobile-menu.is-open~& {
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 15px;
    }

    &:hover,
    &:focus {
        fill: getColor('accent')
    }

    @media screen and (min-width:768px) {
        display: none;
    }
}

.toggle__icon-close {
    display: none;
}

.mobile-menu.is-open~.toggle .toggle__icon-close {
    display: block;
}

.mobile-menu.is-open~.toggle .toggle__icon-menu {
    display: none;
}

.mobile-menu.is-open .menu {
    display: flex;
    flex-direction: column;
}