.modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    text-align: center;
    border-radius: 4px;
    background: getColor('light');
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: transform 250ms $timing-function;

    .overlay.is-hidden & {
        transform: translate(-277%, -97%) scale(.01) rotateZ(-.25turn);
    }
}

.close-button {
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    cursor: pointer;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px rgba(0, 0, 0, 0.10) solid;
    border-radius: 50%;
    transition: border-color 250ms $timing-function, transform 250ms $timing-function;

    &:hover,
    &:focus {
        border-color: accent-color;
        outline: none;
        transform: scale(1.2) rotate(.75turn);
    }
}

.icon-close {
    width: 18px;
    height: 18px;
    fill: #000000;
    transition: fill 250ms $timing-function;

    .close-button:focus &,
    .close-button:hover & {
        fill: getColor('accent');
        ;
    }
}

.modal__title {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
}