.order__form-field,
.order__field-consent,
.order__field-comment {
    position: relative;
    display: block;
}

.order__form-field {
    margin-bottom: 28px;


}

.order__field-comment {
    height: 120px;
    margin-bottom: 20px;
}

.order__label {
    position: absolute;
    left: 0;
    bottom: calc(100% + 4px);
    @include font(.12px, 12px);
}

.order__input {
    padding-left: 42px;
    margin: 0;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.order__comment {
    min-height: 120px;
    width: 100%;
    padding: 12px 16px;
    resize: none;
    @include font(.14px, 14px);
    color: rgba(117, 117, 117, 0.5);
    text-align: left;

}

.order__form-field:hover>.order__input,
.order__field-comment:hover>.order__comment,
.order__field-comment:focus-within>.order__comment,
.order__form-field:focus-within>.order__input {
    outline: none;
    border-color: getColor('accent');
}

.order__form-field:hover>.order__label,
.order__form-field:focus-within>.order__label,
.order__field-comment:hover>.order__label,
.order__field-comment:focus-within>.order__label {
    color: getColor('accent');
}

.order__form-field:hover>.order__icon,
.order__form-field:focus-within>.order__icon {
    fill: getColor('accent');
}

.order__icon,
.order__consent-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
}

.order__consent-icon {
    left: 0;
}

.order__field-consent {
    @include centeredFlex($justifyContent: start);
    padding-left: 24px;
    margin-bottom: 20px;


    @media screen and (min-width:768px) {
        margin-bottom: 31px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 30px;
    }
}

.order__checkbox {
    appearance: none;
}

.order__consent-icon {
    @include centeredFlex();
    width: 16px;
    height: 15px;
    border: 2px getColor('primary') solid;
    border-radius: 3px;
    transition: background-color 250ms $timing-function, border-color 250ms $timing-function;

    .order__checkbox:checked+& {
        background-color: getColor('accent');
        border-color: getColor('accent');
    }
}

.order__consent-text {
    @include font(.36px, 12px);
    color: getColor('secondary');

    @media screen and (min-width:1200px) {
        @include font(.42px, 14px);
    }
}

.order__link {
    color: getColor('accent');
    font-family: Roboto;
    text-decoration: underline;
}