/* header */

.page-header {
    border-bottom: 1px solid #ececec;

    &__block {
        @include centeredFlex($alignItems: baseline, $justifyContent: space-between);
    }
}

/*header site-nav */

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width:768px) {
        align-items: baseline;

        &__logo {
            margin-right: 88px;
        }
    }

    @media screen and (min-width:768px) {
        &__logo {
            margin-right: 93px;
        }
    }
}

// .page-header .site-nav__logo,
// span {
//     color: #fff;
// }