@mixin center ($width, $height) {
    position: absolute;
    width: $width;
    height: $height;
    top: 50%;
    left: 50%;
    margin-top: calc($height / -2);
    margin-left: calc($width / -2);
}

%button {
    text-transform: uppercase;
    color: getColor('dark')
}

@mixin button($size) {
    @extend %button;
    padding: 0.25 * $size 1.75 * $size;
    font-size: $size;
    height: 1.75 * $size;
}

.main-box {
    position: relative;
    left: calc(50% - 200px);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    background-color: #da9090;
    height: 200px;
    width: 400px;
}


// $sizes: 16, 20, 28;
// @each $size in $sizes {
//     .btn-#{$size}px {
//         text-transform: uppercase;
//         padding: calc(0.25 * #{$size}px) calc(1.75 * #{$size}px);
//         font-size: #{$size}px;
//         height:calc(2 * #{$size}px);
//     }
// }

$sizes: (
    'small': 16px,
    'middle': 20px,
    'big': 28px
);

@function getSize($size) {
    @return map-get($sizes, $size)
}

;

.box {
    @extend %button;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(getSize('middle') + 2px);
    color: getColor('light');
    background: getColor('accent');
    @include center(100px, 50px);
}

@each $size in getSize('small'), getSize('middle'), getSize('big') {
    .btn-#{$size} {
        @include button(($size))
    }
}