@mixin center ($width, $height) {
    position: absolute;
    width: $width;
    height: $height;
    top: 50%;
    left: 50%;
    margin-top: calc($height / -2);
    margin-left: calc($width / -2);
}

%button {
    text-transform: uppercase;
    color: getColor('dark')
}

@mixin button($size) {
    @extend %button;
    padding: 0.25 * $size 1.75 * $size;
    font-size: $size;
    height: 2*$size;
}

.main-box {
    position: relative;
    left: calc(50% - 200px);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    background-color: #da9090;
    height: 200px;
    width: 400px;
}

.box {
    background: getColor('accent');
    @include center(100px, 50px);
}

// $sizes: 16, 20, 28;
// @each $size in $sizes {
//     .btn-#{$size}px {
//         text-transform: uppercase;
//         padding: calc(0.25 * #{$size}px) calc(1.75 * #{$size}px);
//         font-size: #{$size}px;
//         height:calc(2 * #{$size}px);
//     }
// }


@each $size in 16px, 20px, 28px {
    .btn-#{$size} {
        @include button(($size))
    }
}