@mixin center ($width, $height) {
    position: absolute;
    width: $width;
    height: $height;
    top: 50%;
    left: 50%;
    margin-top: calc($height / -2);
    margin-left: calc($width / -2);
}

@mixin button($size) {
    @extend %button;
    padding: 0.25 * $size 1.75 * $size;
    font-size: $size;
}

%button {
    text-transform: uppercase;
    color: getColor('dark')
}



.main-box {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 400px;
}

.box {
    @extend %button;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: getColor('light');
    background: getColor('accent');
    @include center(100px, 50px);
}

$sizes: 16px, 20px, 28px;

@each $size in $sizes {
    .btn-#{$size} {
        @include button($size)
    }
}

.btn {
    &:nth-child(3) {
        background-color: #78f3de;
        margin: 0 18px;
    }
}


// $sizes: 16, 20, 28;
// @each $size in $sizes {
//     .btn-#{$size}px {
//         text-transform: uppercase;
//         padding: calc(0.25 * #{$size}px) calc(1.75 * #{$size}px);
//         font-size: #{$size}px;
//         height:calc(2 * #{$size}px);
//     }
// }

// $sizes: (
//     'small': 16px,
//     'middle': 20px,
//     'big': 28px
// );

// @function getSize($size) {
//     @return map-get($sizes, $size)
// }

// @each $size in getSize('small'), getSize('middle'), getSize('big') {
//     .btn-#{$size} {
//         @include button(($size))
//     }
// }

.main-box-a {
    display: flex;
    align-items: center;
    margin: auto;
    column-gap: 5px;
    width: 400px;
    height: 100px;
    background-color: #f23c3c;
}


.btn-a {
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 24px;
    width: 100%;
    border-color: transparent;
}