/* Portfolio  section*/

.btn-list {
    @include list();
    display: flex;
    flex-wrap: wrap;
    gap: 15px 8px;
    padding-right: 15px;
    margin-bottom: 40px;

    @media screen and (min-width:768px) {
        @include centeredFlex();
    }
}