/* Portfolio  section*/

.portfolio {
    padding: 94px 0;
}

.btn-list {
    @include list();
    @include centeredFlex();
    column-gap: 8px;
    margin-bottom: 50px;
}

.card-list {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    @include list();
}