/* sections */

.section {
    padding: 94px 0;
    text-align: center;

    &__title {
        margin-bottom: 50px;
        @include font(1.08px, 36px);
        color: getCcolor('primary');
    }

    &__subtitle {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.15;
        text-transform: uppercase;
    }

    &__text {
        color: getColor('secondary');
    }
}