.soc-icons {
    @extend %list;
    @include nColumnList(4, 10px);

    &__icon {
        width: 20px;
        height: 20px;
    }
}

.soc__link {
    @include centeredFlex();
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    fill: #afb1b8;
    background-color: rgba(255, 255, 255, 0.10);
    transition: fill 250ms $timing-function, background-color 250ms $timing-function;

    &:hover,
    &:focus {
        fill: #ffffff;
        background-color: getColor('accent');
    }
}