/* specifics section */

.specifics {
    @extend %list;
    text-align: left;
    @include nColumnList(4)
}

.specific__icon {
    @include centeredFlex();
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: $prime-gap;
}