/* team section */

.team {
    background-color: getColor('background');

    &__description {
        padding: 30px 5px 16px;
    }

    &__subtitle {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
    }
}

.team-mates {
    @include list();
    @include nColumnList(1);

    @media screen and (min-width:768px) {
        @include nColumnList(2);
    }

    @media screen and (min-width:1200px) {
        @include nColumnList(4);
    }

    &__item {
        padding-bottom: 30px;
        @include font();
        border-radius: 0px 0px 4px 4px;
        background: getColor('light');
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
}