@mixin list($paddingLeft: 0) {
    list-style: none;
    margin: 0;
    padding-left: $paddingLeft;
}

@mixin centeredFlex($type: flex, $alignItems: center, $justifyContent: center) {
    display: $type;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin alignedText($align: center) {
    text-align: $align;
}

@mixin nColumnList($n, $gap: $prime-gap ) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;

    &__item {
        flex-basis: calc((100% - ($n - 1) * $prime-gap) / $n);
    }
}

@mixin footer-part() {
    margin-bottom: 60px;

    @media screen and (min-width:1200px) {
        display: inline-flex;
        flex-direction: column;
    }
}

@mixin font($letterSpacing: .48px, $fontSize: 16px, $lineHeight: 1.15, ) {
    letter-spacing: $letterSpacing;
    font-size: $fontSize;
    line-height: $lineHeight;
}