$accent-color: #2196f3;
$primary-color: #212121;
$primary-background-color: #ffffff;
$secondary-color: #757575;
$secondary-background-color: #f5f4f4;
$dark-theme-bg-color: #2f303a;
$primary-light-color: #ffffff;

$prime-gap: 30px;
$secondary-gap: 20px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);